html {
	font: 81.25% "Microsoft YaHei", arial, helvetica, sans-serif;
	background: #fff;
	color: #333;

}
*{ 
	margin: 0;
	padding: 0;
}
#header { 
	height: 50px;
	width: 100%;
	border-bottom: solid #ccc 1px ;
	/*margin-bottom:30px ; */
}
#header a { 
	line-height: 50px;
	margin: 0 0 0 49px;
	color: #63B8FF;
	font-family: "微软雅黑",arial;
	font-size: 21px;
	text-decoration: none;
}
#content { 
	widows: 100%;
	overflow: hidden;
}
.img {
	height:0;
	width:20%;
	padding-bottom: 20%;
	background:#ccc;
	float:left;
	overflow: hidden;
	position: relative;
	cursor:pointer;
}
.chakan{
	position: absolute;
	top: 50%;
	left: 50%;
	width:100%;
	height:100%;
	padding:1px;
	text-align:center;
	background:black;
	color:#fff;
	opacity:.0;
	transform: translate(-50%, -50%);
	transition:0.3s;
}
.biaoti{
	margin-top: 25%;
	text-align: center;
	width:100%;
	height:30%;
	font-size:4vw;
}
.riqi{
	width:100%;
	height:30%;
	font-size:2vw;
}
.opacity {
	opacity:.5;
}
.prev {
	right: 1em;
	background: url("../images/next.svg") no-repeat top center rgba(0, 0, 0, 0);
}
.next {
	right: 1em;
	background: url("../images/next.svg") no-repeat top center rgba(0, 0, 0, 0);
}
.block{
	display:block;
}
.none {
	display: none;
}
.icon-cancel {
  font-size: 2.7em;
  color: white;
}
#button-on {
  cursor: pointer;
  margin: 10px;
  background: black;
  position: relative;
  top: 0;
  float:right;
}
#big-img{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:rgba(0,0,0,0.8)!important;
	/* 兼容ie */
	filter:Alpha(opacity=60);
	background:black;
	overflow:hidden;
}
#big-img-i{
	height:auto;
	width:auto;
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}
.img img{
	width:200%;
}