html {
	font: 81.25% "Microsoft YaHei", arial, helvetica, sans-serif;
	background: #fff;
	color: #333;
}
*{ 
	margin: 0;
	padding: 0;
}
#header { 
	height: 50px;
	width: 100%;
	border-bottom: solid #ccc 1px ;
	margin-bottom:30px ; 
}
#header a { 
	line-height: 50px;
	margin: 0 0 0 49px;
	color: #63B8FF;
	font-family: "微软雅黑",arial;
	font-size: 21px;
	text-decoration: none;
}
#content { 
	width:960px;
	margin: 10px auto;
	padding:0 20px;
	height: 500px;
}
.img {
	height:200px;
	width:200px;
	background:#ccc;
	float:left;
	margin: 20px;
	overflow: hidden;
	position: relative;
	border-radius:4px;
	box-shadow: 1px 2px 15px #000;
	cursor:pointer;
}
.img span {
	position: absolute;
	top: 0;
	left: 0;
	height: 200px;
	width:200px;
}
.heigimg {
	height: 200px;
}
#cc {
	width: 100%;
	height: 100%;
	position: absolute;top: 0px;left:0px;background: black;
}
#zz {
	z-index: 999;
	position: absolute;
	top: 70px;
	width: 100%;
}
#c {
	width:700px;
	margin: 0 auto;
	height: auto;
}
.opacity {
	-webkit-animation: myOpacity 0.2s ease-in-out;
	opacity: .5;
}
.prev {
	right: 1em;
	background: url("../images/next.svg") no-repeat top center rgba(0, 0, 0, 0);
}
.next {
	right: 1em;
	background: url("../images/next.svg") no-repeat top center rgba(0, 0, 0, 0);
}
.blur {
	-webkit-animation: myfirst 0.1s ease;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}
.none {
	display: none;
}
.black {
	display: black;
}
.hidden{
	overflow: hidden;
}
.icon-cancel {
  font-size: 2.7em;
  color: white;

}
#x {
  cursor: pointer;
  margin: 10px;
  background: black;
  position: relative;
  top: 0;
  float:right;
}



